body {
    margin-left: 15px;
}

.Chat {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: rgb(89, 241, 137);
    border-radius: 16px;
    padding: 6px 16px   ;
    color: antiquewhite;
}