#box1{
    width: 100px;
    height: 100px;
    background: green;
    transition: 2s ease-in 0.5s;
}

#box1:hover{
    width: 600px;
}

#box2{
    width: 100px;
    height: 100px;
    background: red;
    transform: translate(200px,200px)  rotate(90deg);
}

#box3{
    width: 1000px;
    height: 100px;
    background-color: lightblue;
    transform: skewx(20deg);
}

#box4 {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
}

#mypic {
    width: 200px;
    height: 200px;
    background-color: pink;
    opacity: 50%;
    background-image: url("mypic.jpg");
    background-size: cover;
}