.card {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

h4{
  color: aqua;
  text-align: right;
}

h2{
  color: #0e61e6;
}

span{
  color: #1472c4;
}

@media (max-width :400px){
  #pets{
    flex-wrap: wrap;
  }
}

