h2 {
    color: orange;
}

p {
    background-color: rgb(0, 0, 0);
    color: white;
}

button {
    background-color: blue;
    color: white;
}
#css {
    font-size: 55px;
    font-weight: 900;
    color: #ffa511;
    font-family: league sparten;
    text-align: center;
    text-decoration: teal double underline;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}