/* body{
    font-family:  Arial, Helvetica, sans-serif,sans-serif;
    text-align: center;
    margin-top: 50px;
}

.likes{
    color: white;
    background-color: green;
}


.Dislikes{
    color: white;
    background-color: red;
}


.reset{
    color: white;
    background-color: grey;
}
 */
