<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS project</title>
</head>

<body>
    <h3>welcome</h3>
    <h2>to EJS templates</h2>
    <div>here is you template</div>
    <button>Get EJS</button>
    <p>Details about EJS</p>
</body>

</html>