<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>A <b> Random </b> value </p><%= value %>
    <% if(value==6) { %>
    <h2>Congratulations you got another chance</h2>
    <% } %>
</body>
</html>