<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New data</title>
</head>
<body>
    <h2>ADD new user</h2>
    <form action="/user" method="post">
        <input type="name" name="username" placeholder="Enter name">
        <br>
        Email: <input type="email" name="email"  placeholder="Enter email">
        <br>
        Password: <input type="password" name="password" placeholder="Enter Password">
        <button>Submit</button>
    </form>
</body>
</html>