body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(239, 54, 54);
}

.yellow{
    background-color: rgb(239, 239, 68);
}

.green{
    background-color: rgb(36, 231, 36);
}

.purple{
    background-color: rgb(228, 41, 228);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(109, 238, 109);
}