<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get new posts</title>
</head>
<body>
    <form action="/posts" method="post">
        <input placeholder="enter username" name="username"> <br>
        <textarea placeholder="write your posts" name="content" id="content"></textarea> <br>
        <button>Submit post</button>
    </form>
    <br>
    <br>
</body>
</html>